#content {
	height: 40em;	
}

#about {
	position: relative;
	width: 32em;	
}

/* ---------------- */

#download {
	position: absolute;
	left: 40em;
	top: 0;
	width: 40em;
}

#latest-version {
	display: block;
	margin-top: 0.7em;
	font-size: 1.5em;
	font-weight: bold;
}

#download ul {	
	position: relative;		
	width: 22em;
	height: 10em;
}

#download a {
	position: absolute;
	display: block;
	margin: 0;
	text-indent: -1000%;
}

#download-windows {
	width: 5.1em;
	height: 5.1em;
	background: url('../images/windows.png') no-repeat;	
}

#download-linux {
	left: 6.1em;
	width: 4.6em;
	height: 5.5em;
	background: url('../images/linux.png') no-repeat;
}

#download-mac {
	left: 11.7em;
	width: 6.1em;
	height: 6.1em;
	background: url('../images/mac.png') no-repeat;
}

/* ---------------- */

#screenshots {
	position: absolute;
	top: 20em;	
}

#screenshots img {
	margin-top: 1em;	
}

/* ---------------- */

#news-holder {
	position: absolute;
	top: 20em;
	left: 40em;	
}

#news {
	margin-top: 1.5em;
	
}

#news h3 {
	font-weight: bold;
	font-size: 1.2em;
}

#news p {
	margin-bottom: 1.5em;
}