h1 {
	padding-top: 15px;
	padding-bottom: 5px;
}

h2 {
	padding-bottom: 5px;	
}

.hero-unit {
	margin-bottom: 0;
	padding-bottom: 0;
}

.topbar li {
	padding-right: 15px;	
}

#download {
	position: relative;
	left: 360px;
	top: -145px;	
}

div.screenshots {
	padding-top: 25px;	
}

#platforms, #linux {
	position: relative;
	left: 465px;
	bottom: 133px;
	width: 210px;
	display: none;
}

#platforms li,
#linux li {
	display: inline;	
}

#platforms li a,
#linux li a {
	position: relative;
	width: 65px;
	height: 80px;
	display: inline-block;
	text-indent: -1000px;
}

#download-windows {
	background: url('../images/os/windows.png') no-repeat;	
}

#download-linux,
#download-other {
	background: url('../images/os/linux.png') no-repeat;
}

#download-mac {
	background: url('../images/os/mac.png') no-repeat;
}

#download-debian {
	background: url('../images/os/debian.png') no-repeat;	
}

#download-redhat {
	background: url('../images/os/redhat.png') no-repeat;	
}