h1 {
	font-weight: bold;
	font-size: 2em;	
}

h2 {
	font-weight: bold;
	font-size: 1.5em;	
}

p, a {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-top: 0.3em;
	margin-bottom: 1em;
}

p a {
	font-size: 1.1em;	
}

pre {
	font-size: 1.3em;	
}

label {
	display: block;
	float: left;
	width: 10em;
	font-size: 1.2em;
}

input[type=text] {
	width: 16em;	
}

input[type=submit] {
	margin-top: 1em;	
}

div.field {
	clear: both;
	margin-top: 1em;
	margin-bottom: 1em;		
}

label.error {
	float: right;
	width: 22em;
	margin-bottom: 0.5em;
	margin-right: 34em;	
	color: #FF0000;
}

.hidden {
	display: none;
}
