body {
	background: none repeat scroll 0 0 #E0E0E0	
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	font-size: 2.2em;	
}

h2 {
	font-size: 1.8em;	
}

h3 {
	font-size: 1.4em;	
}

p, a {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-top: 0.3em;
	margin-bottom: 1em;
}

p a {
	font-size: 1.1em;	
}

.hidden {
	display: none;
}

/* forms */

label {
	display: block;
	float: left;
	width: 10em;
	font-size: 1.2em;
}

input[type=text] {
	width: 16em;	
}

input[type=submit] {
	margin-top: 1em;	
}

div.field {
	clear: both;
	margin-top: 1em;
	margin-bottom: 1em;		
}

label.error {
	float: right;
	width: 22em;
	margin-bottom: 0.5em;
	margin-right: 34em;	
	color: #FF0000;
}

/* lightbox -- move close button to top */

#lightbox-container-image {
	position: relative;
	top: 2em;	
}

#lightbox-nav {
	top: 2em;		
}

#lightbox-secNav-btnClose {
	float: none;
	position: absolute;
	right: 25em;
	top: 0;	
}

#lightbox-container-image-data-box {
	padding-top: 2em;
	padding-bottom: 0.5em;	
}
