.whyteboard-page {
	margin-top: 65px;	
}

h1 {
	margin-bottom: 20px;	
}

.footer {
	border-top: 1px solid #E5E5E5;
	margin-top: 20px;
	padding-top: 20px;
}

#contact div {
	margin-bottom: 10px;
}

#translation-guide {
	width: 820px;
    margin-top: 10px;
}

#translation-guide li {
    margin: 8px 0;
}

#translation-guide img {
    margin: 10px 0 10px 10px;
    border: 1px solid #000;
}